<% content_for :title, t(".heading") %>

<div class="step-container">
  <div>
    <div>
      <h2 class="heading-medium" role="heading" id="coastal_erosion_protection_outcomes_detail"><%= project.summary_label(:coastal_erosion_protection_outcomes_detail_heading) %></h2>
      <p><%= project.summary_label(:coastal_erosion_protection_outcomes_detail_lede) %></p>
      <div class="step-form">
        <div class="scroll-horz">
          <table class="coastal_erosion_protection_outcomes_detail_table">
            <thead>
              <tr>
                <th class="financial-year-column"><%= project.summary_label(:financial_year_label) %></th>
                <th class="risk-summary-heading"><%= project.summary_label(:households_at_reduced_risk_label) %></th>
                <th class="risk-summary-heading"><%= project.summary_label(:households_protected_from_loss_in_next_20_years_label) %></th>
                <th class="risk-summary-heading"><%= project.summary_label(:households_protected_from_loss_in_20_percent_most_deprived_label) %></th>
                <th class="risk-summary-heading"><%= project.summary_label(:non_residential_properties_label) %></th>
              </tr>
              <tr>
                <td></td>
                <th class="risk-summary-subheading">A</th>
                <th class="risk-summary-subheading">B</th>
                <th class="risk-summary-subheading">C</th>
                <th class="risk-summary-subheading">D</th>
              </tr>
            </thead>
            <tbody>
              <% project.current_coastal_erosion_protection_outcomes.each do |fo| %>
                <tr>
                  <td id=<%= "financial_year_#{fo.financial_year}" %> class="financial_year">
                    <%= formatted_financial_year(fo.financial_year) %>
                  </td>
                  <td id=<%= "households_at_reduced_risk_#{fo.financial_year}" %> class="<%= funding_table_cell(fo.financial_year, fo.households_at_reduced_risk) %>">
                    <%= number_with_delimiter fo.households_at_reduced_risk %>
                  </td>
                  <td id=<%= "households_at_reduced_risk_from_loss_in_next_20_years_#{fo.financial_year}" %> class="<%= funding_table_cell(fo.financial_year, fo.households_protected_from_loss_in_next_20_years) %> significant-to-low-risk">
                    <%= number_with_delimiter  fo.households_protected_from_loss_in_next_20_years %>
                  </td>
                  <td id=<%= "households_at_reduced_risk_from_loss_in_20_percent_most_deprived_#{fo.financial_year}" %> class="<%= funding_table_cell(fo.financial_year, fo.households_protected_from_loss_in_20_percent_most_deprived) %>">
                    <%= number_with_delimiter  fo.households_protected_from_loss_in_20_percent_most_deprived %>
                  </td>
                  <td id=<%= "non_residential_properties_at_reduced_risk_coastal_erosion_#{fo.financial_year}" %> class="<%= funding_table_cell(fo.financial_year, fo.non_residential_properties) %>">
                    <%= number_with_delimiter  fo.non_residential_properties %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td><%= project.summary_label(:households_total_label) %></td>
                <td id="households_at_reduced_risk" class="numeric households-at-reduced-risk-total"><%= number_with_delimiter project.total_households_coastal_protected_by_category(:households_at_reduced_risk)%></td>
                <td id="households_protected_from_loss_in_next_20_years" class="numeric moved-from-very-significant-and-significant-to-moderate-or-low-total"><%= number_with_delimiter project.total_households_coastal_protected_by_category(:households_protected_from_loss_in_next_20_years)%></td>
                <td id="households_protected_from_loss_in_20_percent_most_deprived" class="numeric households-protected-from-loss-in-20-percent-most-deprived-total"><%= number_with_delimiter project.total_households_coastal_protected_by_category(:households_protected_from_loss_in_20_percent_most_deprived)%></td>
                <td id="non_residential_properties_at_reduced_risk_coastal_erosion" class="numeric households-protected-from-loss-in-20-percent-most-deprived-total"><%= number_with_delimiter project.total_households_coastal_protected_by_category(:non_residential_properties)%></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
