<% content_for :title, t(".heading"), flush: true if I18n.exists?(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row govuk-body">
    <% text_width_class = local_assigns.has_key?(:full_width) && local_assigns[:full_width] ? '' : 'govuk-grid-column-two-thirds' %>
    <div class="<%= text_width_class %>" >
      <div class="step-form">
        <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

          <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

          <%= f.govuk_fieldset legend: { text: heading, size: 'l' } do %>
            <%= form_group(f.object, @project.step, numeric_field) do %>

              <% if local_assigns.has_key? :lede %>
                <p><%= lede %></p>
              <% end %>

              <%= f.label(numeric_field, heading, class: "govuk-visually-hidden") %>

              <% min = local_assigns.has_key?(:min) ? min : 0.01 %>
              <% step = local_assigns.has_key?(:step) ? step : 0.01 %>

              <%= f.govuk_number_field(numeric_field,
                  class: "form-control form-medium",
                  min: min,
                  step: step,
                  label: nil,
                  suffix_text: units
                  ) %>

            <% end %>

            <% if local_assigns.has_key? :notes %>
              <p><%= notes %></p>
            <% end %>

            <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
