<% content_for :title, t(".heading"), flush: true if I18n.exists?(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <div class="step-form">
        <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

          <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

          <%= f.govuk_fieldset legend: { text: heading, size: 'l' } do %>
            <%= form_group(f.object, @project.step, yes_no_field) do %>

            <% if local_assigns.has_key? :lede %>
              <p><%= lede %></p>
            <% end %>

            <%= f.hidden_field :id %>

            <legend class="govuk-visually-hidden"><%= heading %></legend>
            <% radio_struct = Struct.new(:value, :text) %>
            <%= f.govuk_collection_radio_buttons(yes_no_field,
                                     [ radio_struct.new("true", t("yes_option")),
                                       radio_struct.new("false", t("no_option"))],
                                     :value,
                                     :text,
                                     legend: nil,
                                     inline: true) %>

          <% end %>

          <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
