<% scope = "pafs_core.projects.steps.funding_calculator" %>
<%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step), html: { multipart: true } do |f| %>
  <%= f.hidden_field :funding_calculator_file_name %>

  <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

    <%= f.govuk_fieldset legend: { text: t('heading', scope: scope), size: 'l' } do %>
      <p><%= t('lede', scope: scope) %></p>
      <p><%= t('version_statement', scope: scope) %></p>
      <p><strong><%= t('version_question', scope: scope) %></strong></p>

      <%= form_group(@project.step, :funding_calculator_upload) do %>
        <%= error_message(f.object, :funding_calculator) %>
      
        <legend class="govuk-visually-hidden">Version</legend>

        <% radio_struct = Struct.new(:value, :text) %>
        <%= f.govuk_collection_radio_buttons(:expected_version,
                                                  [radio_struct.new("v9", t(:yes_option)),
                                                   radio_struct.new("v8", t(:no_option))],
                                                   :value,
                                                   :text,
                                                   legend: nil,
                                                   inline: true) %>

        <%= render partial: 'pafs_core/projects/steps/funding_calculator_upload_version/v8' %>
        <%= render partial: 'pafs_core/projects/steps/funding_calculator_upload_version/v9' %>

        <div class='upload-section'>
          <h3 class="heading-medium" id="file-upload"><%= t("upload_heading", scope: scope) %></h3>

          <%= f.govuk_file_field :funding_calculator,
                                 accept: @project.acceptable_funding_calculator_types,
                                 aria: { labelledby: "file-upload" },
                                 label: nil %>
        </div>
      <% end %>
    <% end %>

    <div class='upload-section'>
      <%= f.govuk_submit t("upload_and_continue_label"), class: 'button' %>
    </div>
    <div class="govuk-grid-row headroom">
      <div class="govuk-grid-column-two-thirds">
        <p><%= t('version_guidance', scope: scope).html_safe %></p>
        <details class="headroom govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text"><%= t('if_you_need_help', scope: scope) %></span>
          </summary>
          <div class="govuk-details__text" id="calc-help-needed">
            <p><%= t('contact_your_pso', scope: scope) %> </p>
          </div>
        </details>
      </div>
    </div>
  </div>
<% end %>
