<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <div class="step-form vertical-squash">
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden"><%= t('.heading') %></legend>
              <%= month_and_year(@project, :award_contract, hint: t(".example_text")) %>
            </fieldset>
          </div>
          <%= f.submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
