<% content_for :title, t(".heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step), html: { multipart: true } do |f| %>

      <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

      <%= f.govuk_fieldset(legend: { text: t('.heading'), size: 'l' }) do %>
      
        <%= form_group(@project.step, :base) do %>
          <div class="govuk-hint">
            <p><%= t(".description") %></p>
            <p><%= t(".acceptable_file_formats") %></p>
          </div>

          <%= f.label :benefit_area_file, t('.benefit_area_file_label'), class: "govuk-visually-hidden" %>

          <%= f.govuk_file_field :benefit_area_file, label: nil,
            accept: @project.acceptable_benefit_area_types,
            aria: { labelledby: "benefit-area" } %>
          <%= f.hidden_field :id %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t("upload_and_continue_label"), class: 'button' %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row headroom">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Free mapping tool</span>
      </summary>
      <div class="govuk-details__text" id="shapefile-instructions">
        <p>You can use your own mapping tool or our recommended tool - Magic Map (free to use) - to draw your project’s benefit area</p>
        <p><a href='https://magic.defra.gov.uk/magicmap.aspx', target='_blank', rel='noopener'>Magic Map (opens in a new window)</a></p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Here are simple steps to draw your polygon in Magic Map</span>
          </summary>
          <div class="govuk-details__text" id="polygon-instructions">
            <p>Follow these simple steps to create and upload your polygon:</p>
            <ol class="instructions">
              <li>Click on the Mapping tool link above to open the Magic Map tool</li>
              <li>
                Use the search field on the top left-hand corner, to zoom in on your area of benefit. 
                The black arrow within the search allows you to choose your preferred method to zoom in 
                (e.g. postcode, grid ref. etc)
              </li>
              <li>Click on the 'Drawing Tools' pallet icon</li>
              <li>Click on the Polygon (or Freehand Polygon) icon</li>
              <li>Click to start and finish your polygon drawing</li>
              <li>If you want to start again you can use the X icon to clear</li>
              <li>Click on the ‘Export’ button. The Shapefile ZIP will download to your machine.</li>
              <li>Go to your computer download folder, to view your file, at this point you can rename</li>
              <li>Return to PAFs, then upload and continue</li>
            </ol>
          </div>
        </details>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Unable to create a shapefile</span>
      </summary>
      <div class="govuk-details__text" id="shapefile-help">
        <p>If you are unable to upload or create a shapefile, contact your local partnership and strategic overview
        officer and they will be able to help you.</p>
      </div>
    </details>
  </div>
</div>
