<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= pafs_form_for @project, url: { action: "save", id: @project.to_param, step: @project.step } do |f| %>
        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>
        <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
        <div class="step-form">
          <div class ="form-group">
            <%= f.hidden_field :id %>
            <fieldset>
              <legend class="govuk-visually-hidden"><%= t(".heading") %></legend>
              <% PafsCore::Confidence::CONFIDENCE_VALUES.each do |value| %>
                <%= f.radio_button :confidence_homes_by_gateway_four, 
                      value,
                      label: confidence_band_label(:homes_by_gateway_four, value) 
                %>
            <% end %>
            </fieldset>
          </div>
          <div class ="form-group">
            <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
