<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="step-form">
        <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

          <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

          <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>
            <%= form_group(f.object, @project.step, :earliest_start) do %>
              <%= f.hidden_field :could_start_early %>
              <legend class="govuk-visually-hidden"><%= t(".heading") %></legend>

              <% radio_struct = Struct.new(:value, :text) %>
              <%= f.govuk_collection_radio_buttons(:could_start_early,
                                                  [radio_struct.new("true", t("yes_option")),
                                                   radio_struct.new("false", t("no_option"))],
                                                   :value,
                                                   :text,
                                                   legend: nil,
                                                   inline: true) %>
            <% end %>

          <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
