<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

        <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>

          <%= form_group f.object, @project.step, :grid_reference do %>
          <div class="govuk-hint">
            <p><%= t('.example_text') %></p>
            <p>
              For projects over;
              <ul>
                <li>multiple locations, choose the main location</li>
                <li>a stretch of watercourse or coast, choose the middle point</li>
              </ul>
            </p>
          </div>
          <%= f.label :grid_reference, t(".heading"), class: "govuk-visually-hidden" %>
          <%= f.govuk_text_field :grid_reference, class: "form-control", label: nil %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
    <% end %>
  </div>

  <div class="govuk-grid-row headroom">
    <div class="govuk-grid-column-two-thirds">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">How to find a National Grid Reference</span>
        </summary>
        <div class="govuk-details__text" id="find-grid-reference">
          <p>Use the free <%= link_to t("grid_reference_link_label"), t("grid_reference_link"), rel: "external", target: "_blank" %></p>
          <ol class="govuk-list govuk-list--number">
            <li>Search for a location or postcode on the left of the page</li>
            <li>Right-click to display the National Grid Reference</li>
            <li>Select and copy the National Grid Reference</li>
            <li>Return to this page and paste the National Grid Reference into the text-box above</li>
          </ol>
        </div>
      </details>
    </div>
  </div>
</div>
