<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

        <%= f.govuk_fieldset(legend: { text: t('.heading'), size: 'l' }) do %>

          <legend class="govuk-visually-hidden"><%= t('.heading') %></legend>
          <%= f.label(:natural_flood_risk_measures_cost, t('.heading'), class: "govuk-visually-hidden") %>

          <%= f.govuk_text_field(:natural_flood_risk_measures_cost,
                                 pattern: "[0-9]*",
                                 inputmode: "numeric",
                                 prefix_text: '£',
                                 label: nil,
                                 step: 0.01,
                                 width: "one-half"
                                 ) %>
        <% end %>

        <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
      <% end %>
    </div>
  </div>
</div>
