<% content_for :title, t(".heading") %>

<div class="step-container">
  <h1 class="govuk-heading-l"><%= t('.title') %></h1>
  <div class="step-form">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="confirmation-box">
          <h2 class="govuk-heading-l"><%= t(".heading") %></h2>
          <p>
            <%= t(".label") %><br/>
            <strong class="govuk-heading-m"><%= @project.reference_number %></strong>
          </p>
        </div>
        <%= form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
          <%= f.govuk_submit t("continue_label"), class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

