<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= pafs_form_for @project, url: { action: "save", id: @project.to_param, step: @project.step } do |f| %>

        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

        <%= f.hidden_field :id %>

        <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>
          <%= form_group(@project.step, :project_area) do %>
            <p><%= t('.description') %></p>

            <%= f.govuk_radio_buttons_fieldset(:project_area, legend: nil) do %>
              <%= error_message(f.object, :rma_name) %>
              <% current_resource.areas.each do |user_area| %>
                <%= f.govuk_radio_button :rma_name, user_area.name.to_s, label: { text: user_area.name } %>
              <% end %>
              <p>
              <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
            <% end %>

          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>

