<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= pafs_form_for @project, url: { action: "save", id: @project.to_param, step: @project.step } do |f| %>

        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

        <%= f.hidden_field :id %>

        <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>
          <%= form_group(@project.step, :project_type) do %>
            <p class="govuk-hint"><%= t('.project_type_supporting_text') %></p>

            <legend class="govuk-visually-hidden">Select the type of your proposed project</legend>

            <%= f.govuk_radio_buttons_fieldset(:project_type, legend: nil) do %>
              <% PafsCore::PROJECT_TYPES.each do |pt| %>
                <%= f.govuk_radio_button :project_type, pt.to_s, label: { text: project_type_label(pt) } %>
              <% end %>
            <% end %>

          <% end %>
        <% end %>

        <p>
        <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
      <% end %>
    </div>
  </div>
</div>
