<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

        <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>
          <p><%= t('.lede') %></p>
          <legend class="govuk-visually-hidden">Select which risks your project protects against</legend>
          <% i18n_scope = "pafs_core.fcerm1.risks" %>
          <%= form_group(f.object, :risks, :base) do %>
            <%= error_message(f.object, "risks-step", :base) %>
            <%= govuk_checkbox_for f, :fluvial_flooding, i18n_scope %>
            <%= govuk_checkbox_for f, :tidal_flooding, i18n_scope %>
            <%= govuk_checkbox_for f, :groundwater_flooding, i18n_scope %>
            <%= govuk_checkbox_for f, :surface_water_flooding, i18n_scope %>
            <%= govuk_checkbox_for f, :sea_flooding, i18n_scope %>
            <%= govuk_checkbox_for f, :reservoir_flooding, i18n_scope %>
            <%= govuk_checkbox_for f, :coastal_erosion, i18n_scope %>
          <% end %>

          <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
