<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="step-form">
        <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

          <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

          <%= f.hidden_field :id %>

          <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>
            <%= form_group(@project.step, :flood_protection_after) do %>
              <legend class="govuk-visually-hidden"><%= t(".heading") %></legend>

              <%= f.govuk_radio_buttons_fieldset(:flood_protection_after, legend: nil) do %>
                <% @project.flood_risk_options.each_with_index do |option, index| %>
                  <%= f.govuk_radio_button :flood_protection_after, 
                                           index,
                                           label: { text: compound_standard_of_protection_label(option) } %>
                <% end %>
              <% end %>
          
            <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
