<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

        <%= f.hidden_field :id %>

        <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>
          <p><%= t(".description") %></p>
          <%= form_group(f.object, @project.step, :coastal_protection_after) do %>
            <legend class="govuk-visually-hidden"><%= t(".heading") %></legend>

            <%= f.govuk_radio_buttons_fieldset(:coastal_protection_after, legend: nil) do %>
              <% @project.coastal_erosion_after_options.each_with_index do |option, index| %>
                <%= f.govuk_radio_button :coastal_protection_after, index,
                  label: { text: @project.standard_of_protection_label(option) } %>
              <% end %>
            <% end %>
          <% end %>

          <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
