<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="step-form">
        <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
          <%= render partial: "pafs_core/error_summary", locals: { f: f } %>
          <%= f.hidden_field :id %>
          <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
          <p><%= t(".description") %></p>
          <%= form_group(@project.step, :coastal_protection_after) do %>
            <fieldset>
              <legend class="govuk-visually-hidden"><%= t(".heading") %></legend>
              <% @project.coastal_erosion_after_options.each_with_index do |option, index| %>
                <%= f.radio_button :coastal_protection_after, index,
                  label: @project.standard_of_protection_label(option) %>
              <% end %>
            </fieldset>
          <% end %>
          <div class="form-group">
            <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
