<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>

        <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

        <%= f.hidden_field :id %>

        <%= f.govuk_fieldset legend: { text: t('.heading'), size: 'l' } do %>
          <p><%= t('.urgency_proposal_need_agree') %></p>
          <legend class="govuk-visually-hidden">Select the reason why your project is urgent</legend>
          <%= form_group(f.object, @project.step, :urgency_reason) do %>
            <%= error_message(f.object, :urgency_step,   :urgency_reason) %>
            <% PafsCore::Urgency::URGENCY_REASONS.each do |r| %>
              <%= f.govuk_radio_button :urgency_reason,
                                      r.to_s,
                                      label: { text: urgency_reason_text(r) } %>
              <% if r == "not_urgent" %>
                <div class="control-text-block">or</div>
              <% end %>
            <% end %>
          <% end %>

          <%= f.govuk_submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
