<article class="summary-item" aria-labelledby="environmental-outcomes">
  <% if project.environmental_outcomes_started?  %>
    <div class="summary-item-content">
      <h2 class="heading-medium" role="heading" id="environmental-outcomes">
        <%= project.summary_label(:environmental_outcomes_title) %>
      </h2>
      <div class="grid-row">
        <div class="column-three-quarters">
          <% if project.environmental_benefits? %>
          <table class="full-table">
            <thead>
               <tr>
                <th class="visuallyhidden">Benefit</th>
                <th class="visuallyhidden">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= project.summary_label(:intertidal_habitat) %></td>
                <td id="hectares_of_intertidal_habitat_created_or_enhanced" class="align-right"><%= project.hectares_created_or_enhanced(attribute: :hectares_of_intertidal_habitat_created_or_enhanced, required: project.intertidal_habitat) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:woodland) %></td>
                <td id="hectares_of_woodland_habitat_created_or_enhanced" class="align-right"><%= project.hectares_created_or_enhanced(attribute: :hectares_of_woodland_habitat_created_or_enhanced, required: project.woodland) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:wet_woodland) %></td>
                <td id="hectares_of_wet_woodland_habitat_created_or_enhanced" class="align-right"><%= project.hectares_created_or_enhanced(attribute: :hectares_of_wet_woodland_habitat_created_or_enhanced, required: project.wet_woodland) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:wetland_or_wet_grassland) %></td>
                <td id="hectares_of_wetland_or_wet_grassland_created_or_enhanced" class="align-right"><%= project.hectares_created_or_enhanced(attribute: :hectares_of_wetland_or_wet_grassland_created_or_enhanced, required: project.wetland_or_wet_grassland) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:grassland) %></td>
                <td id="hectares_of_grassland_habitat_created_or_enhanced" class="align-right"><%= project.hectares_created_or_enhanced(attribute: :hectares_of_grassland_habitat_created_or_enhanced, required: project.grassland) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:heathland) %></td>
                <td id="hectares_of_heathland_created_or_enhanced" class="align-right"><%= project.hectares_created_or_enhanced(attribute: :hectares_of_heathland_created_or_enhanced, required: project.heathland) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:ponds_lakes) %></td>
                <td id="hectares_of_pond_or_lake_habitat_created_or_enhanced" class="align-right"><%= project.hectares_created_or_enhanced(attribute: :hectares_of_pond_or_lake_habitat_created_or_enhanced, required: project.ponds_lakes) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:arable_land) %></td>
                <td id="hectares_of_arable_land_lake_habitat_created_or_enhanced" class="align-right"><%= project.hectares_created_or_enhanced(attribute: :hectares_of_arable_land_lake_habitat_created_or_enhanced, required: project.arable_land) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:comprehensive_restoration) %></td>
                <td id="kilometres_of_watercourse_enhanced_or_created_comprehensive" class="align-right"><%= project.kilometres_created_or_enhanced(attribute: :kilometres_of_watercourse_enhanced_or_created_comprehensive, required: project.comprehensive_restoration) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:partial_restoration) %></td>
                <td id="kilometres_of_watercourse_enhanced_or_created_partial" class="align-right"><%= project.kilometres_created_or_enhanced(attribute: :kilometres_of_watercourse_enhanced_or_created_partial, required: project.partial_restoration) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:create_habitat_watercourse) %></td>
                <td id="kilometres_of_watercourse_enhanced_or_created_single" class="align-right"><%= project.kilometres_created_or_enhanced(attribute: :kilometres_of_watercourse_enhanced_or_created_single, required: project.create_habitat_watercourse) %></td>
              </tr>
            </tbody>
          </table>
          <% else %>
            This project does not include any environmental benefits
          <% end %>
        </div>
        <div class="column-one-quarter">
          <% if project.draft? %>
            <% if can_edit_project_sections?(project) -%>
              <div class="change-link">
                <%= link_to pafs_core.project_step_path(id: project.to_param, step: :any_environmental_benefits) do -%>
                  Change<span class="visually-hidden"> the <%= project.summary_label(:surface_and_groundwater_amount).downcase %></span>
                <% end -%>
              </div>
            <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
  <% else %>
    <div class="add-row">
      <div class="grid-row">
        <div class="column-three-quarters">
          <h2 class="heading-medium" role="heading" id="environmental-outcomes">
            <%= project.summary_label(:environmental_outcomes_title) %>
          </h2>
        </div>
        <div class="column-one-quarter">
          <% unless project.archived? %>
            <% if can_edit_project_sections?(project) -%>
              <div class="add-link">
                <%= link_to pafs_core.project_step_path(id: project.to_param, step: :any_environmental_benefits) do -%>
                  Add<span class="visually-hidden"> <%= project.summary_label(:environmental_outcomes_title).downcase %></span>
                <% end -%>
              </div>
            <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
  <% end %>
</article>
