<% content_for :title, t("cookies.title") %>

<% content_for :meta_tags do %>
  <meta name="description" content="<%= t("cookies.title") %>" />
<% end %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"><%=t("cookies.title")%></h1>
        
        <p><%= t("cookies.settings_page.intro_html") %></p>

        <h2 class="govuk-heading-m"><%=t("cookies.title")%></h2>
        <p class="govuk-body"><%= t("cookies.settings_page.cookie_types") %></p>

        <h2 class="govuk-heading-m"><%=t("cookies.settings_page.cookies_measure_website_use.title")%></h2>
        <p><%= t("cookies.settings_page.cookies_measure_website_use.text_html") %></p>
        <ul class="govuk-list govuk-list--bullet">
          <% t("cookies.settings_page.ga_info").map do |cookie_item| %>
            <li><%= cookie_item[:text] %></li>
          <% end %>
        </ul>
        
        <h2 class="govuk-heading-m"><%=t("cookies.settings_page.necessary_cookies.title")%></h2>
        <p><%= t("cookies.settings_page.necessary_cookies.text_html") %></p>

        <h2 class="govuk-heading-m"><%=t("cookies.settings_page.all_cookies.title")%></h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Purpose</th>
              <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
          </thead>
          <% t("cookies.cookies_list").map do |cookie_item| %>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell"><%= cookie_item[0].dig(:text) %></th>
                <td class="govuk-table__cell"><%= cookie_item[1].dig(:text) %></td>
                <td class="govuk-table__cell"><%= cookie_item[2].dig(:text) %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
          
        <h2 class="govuk-heading-m"><%=t("cookies.settings_page.third_party_cookies")%></h2>
        <p><%= t("cookies.settings_page.third_party_cookies_text") %></p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Purpose</th>
            </tr>
          </thead>
          <% t("cookies.third_party_cookies_list").map do |cookie_item| %>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell"><%= cookie_item[0].dig(:text) %></th>
                <td class="govuk-table__cell"><%= cookie_item[1].dig(:text) %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
          
        <p><%= t("cookies.settings_page.cookie_details_link_html") %></p>
      </div>
    </div>

  </main>
</div>