<% content_for :title, t("proposal_overview", scope: "page_titles") %>

<section id="project-summary" class="project-summary">
  <%= pafs_form_for @project do |f| %>

    <%= render partial: "pafs_core/error_summary", locals: { f: f } %>

    <header class="summary-heading">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-l">Proposal overview</h1>
        </div>
        <% if ea_user? || (pso_user? && (@project.submitted? || @project.completed?)) %>
          <div class="govuk-grid-column-one-half">
            <div class="project-documents-download-link">
              <%= link_to "Download proposal documents", pafs_core.downloads_path(@project) %>
            </div>
          </div>
        <% end %>
      </div>
    </header>

    <section>
      <div class="govuk-grid-column govuk-body-s">
        <dl class="project-overview-head">
          <dt>National project number:</dt>
          <dd><%= @project.reference_number %></dd>
          <dt>Last updated:</dt>
          <dd><%= format_date @project.updated_at %></dd>
          <dt>Status:</dt>
          <dd>
            <%= project_status_line(@project) %>
          </dd>
        </dl>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>
    </section>

    <% @project.articles.each do |item| %>
      <div class="govuk-grid-column govuk-body-s">
        <%= form_group(f.object, "project", item) do %>
          <%= error_message(f.object, "project", item) %>
          <div id="project-<%= item %>-field">
            <%= render partial: "summary/#{item}", locals: { project: @project } %>
          </div>
        <% end -%>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>
    <% end %>

    <%= render partial: 'submit_project', locals: { project: @project } %>
  <% end -%>
</section>
